@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StudentCourses</h1>
    <p class="lead">ASP.NET MVC Application with Unity dependency injection, Entity Framework and SQL Server LocalDB .</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            List of all avaliable Students.
        </p>
        <p><a class="btn btn-primary" @Html.ActionLink("Students", "Index", "Students")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>
            List of all avaliable Courses.
        </p>
        <p><a class="btn btn-primary" @Html.ActionLink("Courses", "Index", "Courses")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrations</h2>
        <p>
            List of all Registrations.
        </p>
        <p><a class="btn btn-primary" @Html.ActionLink("Registrations", "Index", "Registrations")</a></p>
    </div>
</div>